<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>kaitorisisystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ServLogin</display-name>
    <servlet-name>ServLogin</servlet-name>
    <servlet-class>ServLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServLogin</servlet-name>
    <url-pattern>/ServLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServRegister</display-name>
    <servlet-name>ServRegister</servlet-name>
    <servlet-class>ServRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServRegister</servlet-name>
    <url-pattern>/ServRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServProduct</display-name>
    <servlet-name>ServProduct</servlet-name>
    <servlet-class>ServProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServProduct</servlet-name>
    <url-pattern>/ServProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServSerch</display-name>
    <servlet-name>ServSerch</servlet-name>
    <servlet-class>ServSerch</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServSerch</servlet-name>
    <url-pattern>/ServSerch</url-pattern>
  </servlet-mapping>
</web-app>